<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/avatar-logo.png"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">Иван Барабаш</strong>
      <span class="subtitl">barabarabere</span>
    </div>
  </div>

  <div class="profile-card__deskriptions">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">TS</div>
    <div class="skill-tag">Figma</div>
  </div>

  <div class="profile-card_action_btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
