@if(profile){

<div class="profile-card">
  <div class="avatar-name">
    <img
      [src]="profile.avatarUrl | imageUrl"
      [alt]="profile.username"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
      <span class="subtitl">{{ profile.username }}</span>
    </div>
  </div>

  <div class="profile-card__deskriptions">
    {{ profile.description }}
  </div>
  <div class="profile-card__tags">
    @for(skill of profile.stack; track skill){
    <div class="skill-tag">{{ skill }}</div>
    }
  </div>

  <div class="profile-card_action_btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
} @else{
<div>Данные не загружены</div>
}
