:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 7.5%;

  img {
    padding-left: 5%;
  }

  label,
  button {
    max-width: 75%;
  }

  .password-input {
    position: relative;

    .password-eye-btn {
      position: absolute;
      top: 50%;
      right: 11.5vw;
      background: none;
      border: none;
      color: #cccccc;
      cursor: pointer;

      &.active {
        color: #fff;
      }
    }
  }
}
